
:root{
  --background-body : #f1f1f1;
  --dark-blue : #112c3d;
  --blackNav : rgba(41,41,41,.25);
  --blackToGreen : black;
  --darkGreyH1 : #2f2f2f;
  --transparentToGreen: transparent; 
  --lightGreytoMediumGrey : #e9e9e9;
  --black : black;
}

.dark-mode{
  --background-body : #18191A;
  --dark-blue : #e9e9e9;
  --blackNav : rgb(255,250,250, 0.25);
  --blackToGreen : #2be086;
  --darkGreyH1 : #e9e9e9;
  --transparentToGreen: #2be086; 
  --lightGreytoMediumGrey : #242526;
  --black : #b0b3b8;

}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-body);
    margin:0px; 
    padding:0px; 
    max-width: 2500px;

}
a{
  text-decoration: none;
}

.margin1 {
    margin: 0rem 10vw;
}


h2 {
  color: var(--dark-blue);
  font-size: 2rem;
  margin: 5rem 0rem 3rem 0rem;
}

button {
  outline:none;
}

/* Navigation */
header {
  height: auto;
  min-width: 100%;
  padding: 1rem 10vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--background-body);
  -webkit-box-shadow: 0px 0px 9px 3px var(--black);
-moz-box-shadow: 0px 0px 9px 3px var(--blackNav);
box-shadow: 0px 0px 9px 3px var(--blackNav);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  width: 100%;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.3);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

header span {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--dark-blue);
  display: inline-block;
}


header ul {
  text-align: center;
  list-style: none;
  align-items: center;

}

.main-nav {
  display: flex;
  margin: 1em 0 0.5em;
  flex-direction: row;
  justify-content: flex-end;
}
header li {
  align-content: center;
  display: inline-flex;
  margin-right: 2.2rem;

}
li a {
  display: inline-block;
  padding: 0.5rem 0rem 0.4rem 0rem;
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 1rem;
  text-decoration: none;
}
.current {
  color: #2be086;
  font-weight: 700;
}
.navbar-toggle {
  display: none;
}

@media screen and (max-width: 950px) {

  .navbar-toggle {
    position: absolute;
    top: 0;
    padding-top: 1rem;
    right: 0;
    margin-right: 10vw;
    cursor: pointer;
    color:#1c1c1c;
    font-size: 24px;
    display: block;
}
  .active {
    display: block;
  }
  
  header label{
    margin: auto;
  }

  header li {
    text-align: center;
    margin: 1rem auto;
    display: block;

}

  .main-nav {
    list-style-type: none;
    display: none;
  }
  nav{
    display: block;
  }
}


/* Hero banner */
.hero {
  margin-top: 5rem;
  display: inline-flex;
  justify-content: space-between;
}

.left-hero {
  width: 50%;
}

.image-hero {
  margin-left: 7vw;
}
.image-hero img {
  width: 100%;
  height: auto;
}

.hero span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #828282;
}
.hero h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  color: var(--darkGreyH1);
}
.hero p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--dark-blue);
}
.followMe {
  width: 80%;
  margin: 2rem 0rem;
  display: inline-flex;
  align-items: center;
}

.icon-hero{
  display: inline-flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 2.5rem;
}


#follow {
  font-size: 1.5rem;
  color: #828282;
  line-height: 2rem;
  font-weight: bold;
}

.hero i {
  font-size: 2.2rem;
  color: #828282;
}

.hero form{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 1rem;
}
#contact-form{
  width: 40%;
}

#resume-form{
  width: 45%;
}

.button {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.hero button {
  border-radius: 0.7rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.05rem;
  cursor: pointer;
}
.btn-child{
  margin: 0 1rem;
}

#contactMe {
  width: 100%;
  background: #112c3d;
  color: #2be086;
  border: none;
  border: 2px solid var(--transparentToGreen);
}

#resume {
  width: 100%;
  border: 2px solid #2be086;
  background-color: transparent;
  color: var(--blackToGreen);
}

@media screen and (max-width: 950px) {
  .hero {
    margin-top: 3rem;
    display: block;
  }
  .left-hero {
    width: 100%;
  }
  .hero p {
    text-align: center;
  }
  .followMe {
    width: 100%;
    min-width: 180px;
    padding: 0rem 20vw;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    text-align: center;
  }
  
  .image-hero {
    display: none;
  }
  .button {
    margin: 0 auto;
    width: 100%;
  }
  #contactMe {
    background: #112c3d;
    color: #2be086;
    border: none;
    min-width: 17Opx;
    padding: 1rem 2rem;

  }
  
  #resume {
    border: 2px solid #2be086;
    min-width: 17Opx;
    padding: 1rem 2rem;

  }
  #contact-form, #resume-form{
    width: 45%;
    margin:0;
  }

}
@media screen and (max-width: 600px) {
  .followMe{
    display: block;
    text-align: center;
  }

.medium-hero, .linkedin-hero {
  display:inline-block;
  margin: 2vh 4vw;
}

.icon-hero{
width: 100%;
margin: auto;
}
}

/* Purpose banner */


.purpose {
  margin-top: 4rem;
  background-color: var(--lightGreytoMediumGrey);
  border-radius: 1.6rem;
  display: inline-flex;
  align-items: center;
}
.left-r {
  background-color: #112c3d;
  width: 20vw;
  max-width: 200px;
  height: auto;
  border-radius: 1.6rem;
  text-align: center;
  margin: 2rem 0rem;
  margin-left: 2.5rem;
}
.left-r span {
  color: #6fc2c5;
  font-size: 9rem;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 800;

}

.quote  {
  width: 70%;
  font-size: 1.5rem;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-style: italic;
  line-height: 2.8rem;
  margin: 0rem 2.5rem 0rem 2.5rem;
}

.quote p {
  color: var(--dark-blue);
}

@media screen and (max-width: 950px){
  .quote p {
    font-size: 1.1rem;
    padding: 1rem 0rem;
    text-align: center;
      }
  .quote{
    line-height: 1.7;
    margin: 0 auto;
  }

  .left-r span {
        font-size: 15vw;
  }

  .left-r{
    display:none;
    margin-left: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
}
/* skills banner */


.coding-skills {
  width: 100%;
  font-size: 5rem;
  display: inline-flex;
  justify-content: space-around;
  color: var( --black);
}

@media screen and (max-width: 600px){
  .coding-skills{
    font-size: 3rem;
  }
}

/* projects banner */






/* call to action banner */
.cta {
  margin-top: 2rem;
  background-color: #112c3d;
  border-radius: 1.6rem;
  display: inline-flex;
  align-items: center;
  height: auto;
  min-height: 8rem;
  width: 100%;
  justify-content: space-around;
}
.cta p {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.cta button {
  border-radius: 0.7rem;
  height: 3rem;
  border: 2px solid #2be086;
  color: #2be086;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  width: 11rem;
}

#first-btn-cta {
  background: #112c3d;
  border: none;
  border: 2px solid #2be086;
}
@media screen and (max-width: 850px){
  .cta{
    justify-content: space-between;
    height: auto;
    min-height: fit-content;
  }
  .cta p{
    margin: 1.5rem 0.5rem 1.5rem 1rem;
    font-size: 1.2rem;
  }
  .cta button {
margin:1.5rem 1rem;
font-size: 1rem;
padding: 2vw 4vw;
width: fit-content;
height: auto;
  }
.cta form{
  margin: 0 auto;
}
}

/* experiences banner  */
.header-exp {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}


.container-experiences span {
  color: --dark-blue;
  font-size: 1.35rem;
  font-weight: 500;
}

.container-experiences p{
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
  color: var(--dark-blue);
}

.container-experiences strong{
  font-weight: 600;
}

.container-experiences li{
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.7;
  color: var(--dark-blue);

}

.container-experiences {
  display: inline-block;
  width: 100%;
}

.first-exp,
.second-exp {
  width: 100%;
  margin-bottom: 2rem;
}

.container-experiences img {
  width: 100%;
  margin: 0 auto;
}

/* Footer */
footer{
    padding: 0rem;
}
footer {
  margin-top: 5rem;
  padding: 4rem 10vw;
  background-color: #1c1c1c;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
footer .icon {
  display: inline-flex;
  justify-content: space-between;
  font-size: 2.2rem;
  width: 15%;
  color: #E1E1E1;
  margin: 0rem auto;
}

footer p {
  font-size: 1.8rem;
  color: #E1E1E1;
  ;
}
footer button {
  border: 2px solid #2be086;
  color: #E1E1E1;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

#back-to-top i{
    font-size: 1.5rem;
    padding-left:0.5rem;
}

fa-linkedin{
  cursor: pointer;
}

.icon a {
  text-decoration: none;
  color: #E1E1E1;
}

@media screen and (max-width:660px){
  footer p {
font-size: 1rem;
}
footer .icon {
font-size: 1.2rem;
}
footer button {
padding: 0.5rem;
font-size: 1rem;
}
footer{
padding: 2.5rem 10vw;
}
}